@charset "utf-8";
/* CSS Document */
* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

.MiddleContent{
	max-width: 60%;
	margin:auto;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #d1d1e0;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ffb3d9;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.savebtn {
  background-color: #009933;
  color: white;
  padding: 16px 20px;
  margin: auto;
  border: none;
  cursor: pointer;
  width: 20%;
  opacity: 0.9;

}

.savebtn:hover {
  opacity:1;
}

.editbtn {
  background-color: #6666ff;
  color: white;
  padding: 16px 20px;
  margin: auto;
  border: none;
  cursor: pointer;
  width: 20%;
  opacity: 0.9;

}

.editbtn:hover {
  opacity:1;
}




