#user {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  #user td, #user th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #user tr:nth-child(even){background-color: #f2f2f2;}
  
  #user tr:hover {background-color: #ddd;}
  
  #user th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #FF1493;
    color: white;
  }

  .test {
      width: 20%;
  }

  .title {
    width: 60%;
  }

  .user {
      float: right;
      padding: 3px 7px;
      text-align: center;
      cursor: pointer;
      outline: none;
      color: #fff;
      background-color: blue;
      border: none;
      border-radius: 5px;
      box-shadow: 0 2px #999;
  }

.user:hover {background-color: red}

.user:active {
  background-color: red;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button {
  background-color: #FF1493;
  border: none;
  color: black;
  text-align: center;
  display: inline-block;
  font-size: large;
  width:20%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 10px 24px;
  float: right;
}

#total {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#total th {
  padding: 8px 12px;
  float: right;
  text-align: left;
  background-color: #FF1493;
  color: white;
  font-size: 18px;
  width: 8%;
}

#total td {
  padding: 8px 10px;
  background-color: white;
  font-size: 18px;
  width: 20%;
}

#total td, #total th {
  border: 1px solid #ddd;
  padding: 8px;
}