/* START TOP NAVIGATION CSS */
	
	body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    }
  
	
	form.example input[type=text] {
  	padding: 10px;
  	font-size: 17px;
  	border: 1px solid grey;
  	float: left;
  	width: 80%;
  	background: #f1f1f1;
	}

	form.example button {
  	float: left;
  	width: 20%;
  	padding: 10px;
  	background: #e6b3cc;
  	color: black;
  	font-size: 17px;
  	border: 1px solid grey;
  	border-left: none;
  	cursor: pointer;
	}

	form.example button:hover {
  	background: #0b7dda;
	}

	/*form.example::after {
  	content: "";
  	clear: both;
  	display: table;
	}*/
	
	
    /* END TOP NAVIGATION CSS */
	.MiddleContent{
		max-width: 80%;
		margin:auto;
	}
	/*Start banner css */
    .column {
        float: left;
        width: 25%;
        padding: 10px;
        height: 100%;
        text-align: center;
    }

    * {
        box-sizing: border-box;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }
	
    .title {
        font-size: large;
        font-weight: bold;
	}

	*{box-sizing:border-box}

	/* Slideshow container */
	.slideshow-container {
 		 max-width: 5000px;
  		position: relative;
  		margin: auto;
	}

	/* Hide the images by default */
	.mySlides {
  		display: none;
	}

	/* Next & previous buttons */
	.prev, .next {
  		cursor: pointer;
  		position: absolute;
  		top: 50%;
  		width: auto;
  		margin-top: -22px;
  		padding: 16px;
  		color: white;
  		font-weight: bold;
  		font-size: 18px;
  		transition: 0.6s ease;
  		border-radius: 0 3px 3px 0;
  		user-select: none;
	}

	/* Position the "next button" to the right */
	.next {
  		right: 0;
  		border-radius: 3px 0 0 3px;
	}

	/* On hover, add a black background color with a little bit see-through */
	.prev:hover, .next:hover {
  		background-color: rgba(0,0,0,0.8);
	}

	/* Caption text */
	.text {
  		color: #f2f2f2;
  		font-size: 15px;
  		padding: 8px 12px;
  		position: absolute;
  		bottom: 8px;
  		width: 100%;
  		text-align: center;
	}

	/* Number text (1/3 etc) */
	.numbertext {
  		color: #f2f2f2;
  		font-size: 12px;
  		padding: 8px 12px;
  		position: absolute;
  		top: 0;
	}

	/* The dots/bullets/indicators */
	.dot {
  		cursor: pointer;
  		height: 15px;
  		width: 15px;
  		margin: 0 2px;
  		background-color: #bbb;
  		border-radius: 50%;
 	 	display: inline-block;
  		transition: background-color 0.6s ease;
	}

	.active, .dot:hover {
  		background-color: #717171;
	}

	/* Fading animation */
	.fade {
  		-webkit-animation-name: fade;
  		-webkit-animation-duration: 1.5s;
 	 	animation-name: fade;
  		animation-duration: 1.5s;
	}

	@-webkit-keyframes fade {
  		from {opacity: .4}
  		to {opacity: 1}
	}

	@keyframes fade {
  		from {opacity: .4}
  		to {opacity: 1}
	}
	/*End banner css */



	/*Start Login css*/

	/* Full-width input fields */
	input[type=text], input[type=password] {
 		width: 100%;
  		padding: 12px 20px;
  		margin: 8px 0;
  		display: inline-block;
 		border: 1px solid #ccc;
  		box-sizing: border-box;
	}

	/* Set a style for all buttons */
	button {
  		background-color: #009933;
  		color: white;
  		padding: 14px 20px;
  		margin: 8px 0;
  		border: none;
  		cursor: pointer;
  		width: 100%;
	}

	button:hover {
	  opacity: 0.8;
	}

	/* Extra styles for the cancel button */
	.cancelbtn {
  		width: auto;
  		padding: 14px 20px;
  		background-color: #f44336;
	}
	
	.cancelbtn, .signupbtn {
  		float: left;
  		width: 50%;
}
	/* Center the image and position the close button */
	.imgcontainer {
  		text-align: center;
  		margin: 24px 0 12px 0;
 		position: relative;
	}

	img.avatar {
  		width: 40%;
  		border-radius: 50%;
	}

	.container {
  		padding: 16px;
		
	}

	span.psw {
  		float: right;
  		padding-top: 16px;
	}

	/* The Modal (background) */
	.modal {
  		display: none; /* Hidden by default */
  		position:fixed; /* Stay in place */
  		z-index: 1; /* Sit on top */
  		left: 0;
  		top: 0;
  		width: 100%; /* Full width */
 		height: 100%; /* Full height */
  		/*background-color: #474e5d;*/
	}

	/* Modal Content/Box */
	.modal-content {
  		background-color: #fefefe;
  		margin: 5% auto 10% auto; /* 5% from the top, 15% from the bottom and centered */
	    max-width: 50%;
  		border: 1px solid #888;
		
		/* Could be more or less, depending on screen size */
	}

	/* The Close Button (x) */
	.close {
  		position: relative;
  		float: right;
  		top: 5%;
		right:1%;
  		color: #000;
  		font-size: 35px;
  		font-weight: bold;
	}

	.close:hover,
	.close:focus {
  		color: red;
  		cursor: pointer;
	}

	/* Add Zoom Animation */
	.animate {
  		-webkit-animation: animatezoom 0.6s;
  		animation: animatezoom 0.6s
	}

	@-webkit-keyframes animatezoom {
  		from {-webkit-transform: scale(0)} 
  		to {-webkit-transform: scale(1)}
	}
  
	@keyframes animatezoom {
  		from {transform: scale(0)} 
  		to {transform: scale(1)}
	}

	/* Change styles for span and cancel button on extra small screens */
	@media screen and (max-width: 300px) {
  		span.psw {
     		display: block;
     		float: none;
 		}
  		.cancelbtn {
    		width: 100%;
  		}
	}
	
	.clearfix::after {
  		content: "";
  		clear: both;
  		display: table;
	}
	
	@media screen and (max-width: 300px) {
  		.cancelbtn, .signupbtn {
    		width: 100%;
  		}
	}


	/*End Login css*/

	p.italic {
  		font-style: italic;
	}